################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.v2
*.dll
*.bin
*.pdb
*.json
*.v1
*.sqlite
*.exe
App/.vs/App/v17/.suo
